
.sf-menu a,
#fh5co-hero,
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2  {
	color: #fff;
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
	font-weight: bold;
	text-transform: none;
}

.sf-menu li:hover a {
	color: #ccc;
}

#fh5co-main {

}

@media screen and (max-width: 768px){
	#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
	    font-size: 48px;
	}
}