
.sf-menu a,
#fh5co-hero,
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2  {
	color: #13a;
}

#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
	font-weight: bold;
	text-transform: none;
}

.sf-menu li:hover a {
	color: #C1CBEF;
}

#fh5co-main {

}